<h1>Listado de especialidades</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Aciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let especialidad of listEspecialidades">
            <th>{{especialidad.id}}</th>
            <th>{{especialidad.nombre}}</th>
            <th>
                <button (click)="edit(especialidad.id)">Editar</button>
                <button (click)="delete(especialidad.id)">Eliminar</button>
            </th>
        </tr>
    </tbody>
</table>
