
<h1 class="titulo">Crear Aprendiz</h1>

<div class="container m-2">
    <div class="row">
        <div class="col-lg-8">
            <form [formGroup]="frmAprendiz">
                <input 
                class="form-control m-2"
                type="text"
                placeholder="Nombre del aprendiz"
                formControlName="nombre"
                >
                <input 
                class="form-control m-2"
                type="text"
                placeholder="Apellidos del aprendiz"
                formControlName="apellidos"
                >
                <ng-select [items]="listGrados"
                            bindLabel="nombre"
                            bindValue="id"
                            formControlName="grado"    
                ></ng-select>
        
                <button class="btn btn-primary m-2" (click)="guardar()">Guardar Aprendiz</button>
                <button class="btn btn-danger m-2" (click)="Volver()">Volver</button>
        
            </form>
        </div>
    </div>
   
</div>
