
<h1 class="titulo">Crear Profesor</h1>
<div class="container m-2">
    <div class="row">
        <div class="col-lg-8">
            <form [formGroup]="frmProfesor">
                <input 
                class="form-control m-2"
                type="text"
                placeholder="Nombre del Profesor"
                formControlName="nombre"
                >
                <input 
                class="form-control m-2"
                type="text"
                placeholder="Apellidos del Profesor"
                formControlName="apellidos"
                >
                <ng-select [items]="listEspecialidades"
                            bindLabel="nombre"
                            bindValue="id"
                            formControlName="especialidad"    
                ></ng-select>
        
                <button class="btn btn-primary m-2" (click)="guardar()">Guardar Profesor</button>
                <button class="btn btn-danger m-2" (click)="Volver()">Volver</button>
        
            </form>
        </div>
    </div>
   
</div>
