<h1 class="titulo">Listado de profesores</h1>

<div class="container">
    <button class="btn btn-primary m-3" (click)="new()">Crear profesor</button>
<div class="row">
    <div class="col-lg-10">
        <table class="table table-striped table-border table-hover">
            <thead>
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">especialidad</th>
                    <th scope="col">Aciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr  *ngFor="let profesor of listProfesores">
                    <th scope="row">{{profesor.id}}</th>
                    <th>{{profesor.nombre}}</th>
                    <th>{{profesor.apellido}}</th>
                    <th>{{profesor.especialidad.nombre}}</th>
                    <th>
                        <button class="btn btn-sm btn-warning m-1" (click)="edit(profesor.id)">Editar</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(profesor.id)">Eliminar</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
